

/* FILL CONTENT */
html, body, #outer {
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: 10;
}

#outer {
  display: flex;
}

#inner_fixed {
  height: 100px;
  background-color: grey;

  flex: 0 1 auto;
}

#inner_remaining {
  background-color: #DDDDDD;

  flex: 1 1 auto;
  background: gold;
  overflow: auto;
}

/* MAP */
#map {
}