/*
  Made By:
    Steven Korevaar - s3544280
    Ryan Tran - s3201690

  Code FIle References:
    1. https://www.w3schools.com/howto/howto_js_popup.asp
*/

/* FILL CONTENT */
html, body, #outer {
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: 10;
}

#outer {
  display: table;
}

#inner_fixed {
  height: 100px;
  background-color: grey;

  display: table-row;
}

#inner_remaining {
  background-color: #DDDDDD;

  display: table-row;    
  height: calc(100% - 100px); 
}

/* MAP */
#map {
  height: calc(100vh - 70px); 
  z-index: 0;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  bottom: -100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: -10%;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #555;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.userContainer {
  padding: 5px;
}

#user-pic {
  float:left;
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px;
  border-radius: 20px;
}

#user-name {
 display: inline-block;
 padding: 0px 10px;
}
